<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>park.ly.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E41B72031E6527A0004B72B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E41B72171E6527A9004B72B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E41B72221E6527AA004B72B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
